 html {
	background-color: lightpink;
}

h1 {
	text-align: center;
	color: DeepSkyBlue;
}
	
h2 {
	color: DarkViolet;
}
	
#menu li {
	list-style-type: none;
	width: 7em;
	float: left;
	text-align: center;
	display: inline;
}

img.align-center {
	display: block;
margin: 0px auto;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}

td, th {
	border: 1px solid black;
}

div.width {
	width: 30em;
}