html {
	background-color: lightpink;
}

h1 {
	text-align: center;
	color: DeepSkyBlue;
}
	
h2 {
	color: DarkViolet;
}
	
#menu li {
	list-style-type: none;
	width: 7em;
	float: left;
	text-align: center;
	display: inline;
}


